<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home of the Unwanted MSSA Jobs</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            background-color: #1e1e1e;
            color: #e1e1e1;
        }
        tbody {
            color: #e1e1e1;
        }
        div{
            background-color: #1e1e1e;

        }

        .btn-primary {
            background-color: #bb86fc;
            font-weight: bold;
            color: #1e1e1e;
        }



        .navbar-nav {
            background-color: #1e1e1e;
        }
    </style>

</head>
<body>
    <div>
        <h1 class="site-page-title">Unwanted MSSA Jobs</h1>
    </div>


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Jobs", "Index", "Jobs")</li>
                    <li>@Html.ActionLink("Recruiters", "Index", "Recruiters")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Home of the Unwanted MSSA Jobs</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
