@model IEnumerable<WebAppMSSAJobBoard.Job>

@{
    ViewBag.Title = "Index";
}

<h2>Job Listings</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <h6>Job Title</h6>
        </th>
        <th>
            <h6>Company Name</h6>
        </th>
        <th>
            <h6>Job Link</h6>
        </th>
        <th>
            <h6>Job Description</h6>
        </th>
        <th>
            <h6>Company Name</h6>
        </th>
        <th>
            <h6>Recruiter Name</h6>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recruiter.FName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
